openapi: 3.0.0

info:
  title: MetaGenScope Service
  description: Swagger spec for documenting the MetaGenScope service
  version: 0.12.0

servers:
  - url: https://www.metagenscope.com/api/v1
    description: Production server
  - url: https://staging.metagenscope.com/api/v1
    description: Staging server

paths:
  /auth/register:
    post:
      summary: Creates a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          $ref: '#/components/responses/AuthenticationResponse'

  /auth/login:
    post:
      summary: Logs a user in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          $ref: '#/components/responses/AuthenticationResponse'

  /auth/status:
    get:
      summary: Returns the logged in user's status
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      required:
        - username
        - email
      properties:
        uuid:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        user_type:
          type: string
          enum: [ "user", " organization" ]
        is_deleted:
          type: boolean
        is_fake:
          type: boolean
        created_at:
          type: string
          format: date-time

  responses:
    AuthenticationResponse:
      description: JWT Response
      content:
        application/json:
          schema:
            type: object
            properties:
              auth_token:
                type: string
                format: JWT
